<div class="jumbotron">
    <h1>PDManager</h1>
    <p class="lead">PDManager DSS Proxy Api</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Convert to clinical Info</h2>

        <p> Insert in the following text box the clinical information of the patient to convert them to the </p>

        <div>
            <textarea type="text" id="inputdata" rows="5"></textarea>
        </div>
        <button type="button" class="btn btn-success btn-lg" onclick="convertData()" >Submit</button>
        <div>
            <p> After conversion, take the output and enter the Json to the patient's clinical info in the PDManager Web site</p>
            <textarea type="text" id="outputdata" rows="5" readonly></textarea>
        </div>


        <div>
            <hr/>
            <p>After copying clinical info enter the ID of the patient and press DSS to get the DSS output</p>
            <input type="text" id="patientId"/>
            <button type="button" class="btn btn-danger" onclick="getDSS('MedicationChange')">Run med Change DSS</button>
            <button type="button" class="btn btn-danger" onclick="getDSS('MedicationHow')">Run How to Change DSS</button>
            <hr/>
            <div >
              
               <table class="table table-bordered">
                   <tbody id="dssOutput">
                       <tr><td colspan="2">Enter Patient Id and press DSS to get the DSS output</td></tr>
                   </tbody>
               </table>
            </div>
        </div>
    </div>
</div>


<script>

    function convertData()
    {


        $.post("/Home/Convert", { data: $("#inputdata").val() }, function (d) {
            $("#outputdata").val(JSON.stringify(d));

        });

    }

    function getDSS(code) {


        $.ajax("/api/dss?patientId=" + $("#patientId").val() + '&code='+code).done(function(d) {
            

            s = '';
            for(i=0;i<d.length;i++)
            {
                s += '<tr><td>' + d[i].Name + '</td><td>' + d[i].Value + '</td></tr>';

            }
            $("#dssOutput").html(s);

        });

    }


</script>